<div class="container-fluid main-section p-5 justify-content-center" style="position: relative">
    <div class="row justify-content-center mt-5" style="top: 50%">
        <h1>Welcome to Graduation Project</h1>
    </div>
    <div class="row justify-content-center" style="top: 50%">
        <h1>Edge Technology and IOT Solutions for Air Pollution</h1>
    </div>
    <div class="row justify-content-center mt-2" style="top: 55%">
        <h4>
            <strong> Project Objective: </strong> Trying to help in collecting data and statistics to find a solution for air pollution . Using IOT and in collecting data at all points of time.
        </h4>
    </div>
    <div class="row justify-content-center mt-2">
        <a href="egypt">
            <button class="btn btn-primary">show statistics</button>
        </a>
    </div>
</div>

<div class="row p-4 justify-content-center">
    <div class="border-top p-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="title team_title_line gradient_highlighter">
                        The Team Behind It All
                    </h1>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-md-4 mb-4">
                    <div class="team_listing_box">
                        <div class="team_listing_box_image">
                            <img src="../../../../assets/loay3.png" alt="" />
                        </div>
                        <h4 class="team_title_line gradient_highlighter">Loay Diaa</h4>
                        <p>
                            Cloud and Database Management, Coding and Deployment of Server on the Internet.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="team_listing_box">
                        <div class="team_listing_box_image">
                            <img src="../../../../assets/omar.png" alt="" />
                        </div>
                        <h4 class="team_title_line gradient_highlighter">
                            Omar Al-Motassem
                        </h4>
                        <p>Security of data sent from Raspberrypi to cloud.</p>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="team_listing_box">
                        <div class="team_listing_box_image">
                            <img src="../../../../assets/yasser.png" alt="" />
                        </div>
                        <h4 class="team_title_line gradient_highlighter">Ahmad Yasser</h4>
                        <p>Data Analysis and Gas sensor readings</p>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="team_listing_box">
                        <div class="team_listing_box_image">
                            <img src="../../../../assets/heba.png" alt="" />
                        </div>
                        <h4 class="team_title_line gradient_highlighter">
                            Hebatallah Mohammed
                        </h4>
                        <p>Data Analysis and Gas sensor readings</p>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="team_listing_box">
                        <div class="team_listing_box_image">
                            <img src="../../../../assets/aubai.png" alt="" />
                        </div>
                        <h4 class="team_title_line gradient_highlighter">Aubai Hassan</h4>
                        <p>Security of data sent from Raspberrypi to cloud.</p>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="team_listing_box">
                        <div class="team_listing_box_image">
                            <img src="../../../../assets/amira.png" alt="" />
                        </div>
                        <h4 class="team_title_line gradient_highlighter">Amira Hassan</h4>
                        <p>Data Analysis and Gas sensor readings</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>