<div class="container-fluid justify-content-center my-5">
    <div>
        <form>
            <mat-form-field style="width: 100%" appearance="fill">
                <mat-label>Please choose the city to proceed</mat-label>
                <mat-select style="width: 100%; max-height: 200px" aria-labelledby="dropdownMenuButton" (selectionChange)="getId($event.value)">
                    <mat-option *ngFor="let city of cityArray" [value]="city.id">
                        <img src="{{ city.imagePath }}" alt="cairo" width="70px" height="30px" margin="2px" /> {{ city.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
    <button class="btn btn-secondary" (click)="ExportTOExcel()" [disabled]="disableButton">
    Click Here to Download As Excel
  </button>
    <div class="row float-right">
        <button class="btn btn-primary" (click)="fetchData()" [disabled]="disableButton">
      Press to show Data
    </button>
    </div>
</div>
<table class="table table-bordered m-2" #TABLE>
    <thead>
        <tr class="text-center">
            <th scope="col">Gas</th>
            <th scope="col">Mean Value</th>
            <th scope="col">Time Stamp</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center" *ngFor="let gas of cityGasArrayReady">
            <td>{{ gas.gasName }}</td>
            <td>{{ gas.Mean }}</td>
            <td>{{ gas.timeStamp }}</td>
        </tr>
    </tbody>
</table>